{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "name": "Microservices API Gateway",
  "port": {{ .service.port }},
  "debug_endpoint": {{ .service.debug }},
  "cache_ttl": "300s",
  "timeout": "3s",
  "extra_config": {
    "telemetry/logging": {
      "level": "{{ .logging.level }}",
      "prefix": "[KRAKEND]",
      "stdout": true,
      "format": "{{ .logging.format }}",
      "skip_paths": ["/health"]
    },
    "telemetry/metrics": {
      "collection_time": "60s",
      "listen_address": ":8090"
    },
    "security/cors": {{ include "security/cors.json" }}
  },
  "endpoints": [
    {{ include "endpoints/health.json" | indent 4 }},
    {{ include "endpoints/auth.json" | indent 4 | trim }},
    {{ include "endpoints/whatsapp.json" | indent 4 | trim }},
    {{ include "endpoints/whatsapp_bot.json" | indent 4 | trim }},
    {{ include "endpoints/ia.json" | indent 4 | trim }},
    {{ include "endpoints/notifications.json" | indent 4 | trim }}
  ]
}